src/jaxbmarshallingunmarshalling/countries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="countries">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="country">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="capital" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="countryCode" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>